@using WebReportSolution.ViewModels.Report;
@model ReportDatesViewModels;

<h1>Get report orders</h1>
<hr />

@if (ViewBag.Notification != null)
{
    <h3 style="color: red">@ViewBag.Notification</h3>
}

@using (Html.BeginForm("GetReport", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.FromDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input asp-for="FromDate" class="form-control" />
            <span asp-validation-for="FromDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ToDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input asp-for="ToDate" class="form-control" />
            <span asp-validation-for="ToDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-dark" value="Submit" />
        </div>
    </div>
}